<div class="elkart--product--details--info scroll">
  <div class="elkart-product-detail-close">
    <i class="fa fa-times" aria-hidden="true"></i>
  </div>
  <div class="elkart-product-detail-image">
    <img [src]="product.imageUrl" class="elkart-product-detail-image">
  </div>

  <div class="elkart-product-detail">
    <div class="elkart-product-detail-name">
      <h2>{{ product.name }}</h2>
    </div>
    <div class="elkart-product-detail-gbc">
      <span>{{ product.gender }}</span>
      <span>{{ product.brand }}</span>
      <span>{{ product.category }}</span>
    </div>
    <div class="elkart-product-detail-price">
      <p>
        <b>Price Each Pair:</b>
        <span style="background-color: red; color: white;">(s){{ product.price }}€</span>
        <span style="background-color: green; color: white;">(s)$599</span>(Inclusive all taxes)
      </p>
    </div>
    <div class="elkart-product-detail-size">
      <div style="padding: 5px 0px; border-bottom: #ccc 2px solid; ">
        <h4>Available Size</h4>
      </div>
      <div style="margin-top: 20px;">
        <span class="elkart-product-detail-available-size">6</span>
        <span class="elkart-product-detail-available-size">8</span>
        <span class="elkart-product-detail-available-size">10</span>
        <span class="elkart-product-detail-available-size">12</span>
      </div>
    </div>

    <div class="elkart-product-detail-color">
      <div style="padding: 5px 0px; border-bottom: #ccc 2px solid; ">
        <h4>Available Color</h4>
      </div>
      <div style="margin-top: 20px;">
        <span class="elkart-product-detail-available-color">Red</span>
        <span class="elkart-product-detail-available-color">green</span>
        <span class="elkart-product-detail-available-color">Black</span>
        <span class="elkart-product-detail-available-color">Blue</span>
      </div>
    </div>

    <div class="elkart-product-detail-desc">
      <div style="padding: 5px 0px; border-bottom: #ccc 2px solid; ">
        <h4>Product description</h4>
      </div>
      <div style="margin-top: 20px;">
        <p>description</p>
      </div>
    </div>

    <div class="elkart-product-detail-addtoCart">
      <button class="btn-add-to-cart">ADD TO CART</button>
    </div>
  </div>
  <div class="overlay"></div>
</div>
