<div class="ekart-product--container">
  <img [src]="product.image" alt="" srcset="">
  <p>Name: {{ product.name }}</p>
  <p>Price: {{ product.price + "€" }}</p>
  <p>Color: {{ product.color }}</p>
  <p>Disconted Price: {{ getDiscountPrice().toFixed(2) }}€</p>
  <p>{{ product.inStock > 0 ? 'Only ' + product.inStock + ' items left': 'Not inStock' }}</p>
  <button (click)="decrementCartValue()">-</button>
  <span>{{ addToCart }}</span>
  <button (click)="incrementCartValue()">+</button>
  <!-- <button [disabled]="!(product.inStock > 0)">Buy Now</button> -->
  <!-- Disabled, Hidden, Cheked no utilizar string interpolation -->
  <!-- <p><input (input)="onChangeName($event)"></p>
  <p>Name: {{ client }}</p> -->
</div>

