<app-filter
  [all]="totalProductCount"
  [inStock]="totalProductInStock"
  [outStock]="totalProductOutStock"
  (selectedFilterRadioButtonChange)="onFilterChanged($event)"
  >
</app-filter>
<div class="ekart--products--container">
  <div *ngFor="let prod of products">
    <!-- <app-product  [product]="prod" *ngIf="selectedRadioButton === 'all'|| prod.is_in_invertory.toString() === selectedRadioButton"></app-product> -->
    <app-product [product]="prod" *ngIf=" searchText === '' || prod.name.toLowerCase().includes(searchText)"></app-product>
  </div>

</div>
